.icon-plus-hover {
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-plus-hover:hover {
  transform: scale(1.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
